* {
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
}
body {
    background: #91C7B1;
}

/*header styles*/
.quiz-header-wrapper {
    position: relative;
    display: flex;
    margin: 0;
    justify-content: center;
    background: white;
}

#highscore {
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    left: 0;
    color: black;
    margin: 5px 20px;
    padding: 5px 10px;
}
.quiz-header {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 5px 20px;
    color: black;
}
.timer {
    font-size: 25px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    color: black;
}
.home-anchor {
    text-decoration: none;
    padding: 5px 10px;
    top: 0;
    left: 0;
    font-size: 25px;
    color: black;
    float: left;
}
#seconds {
    font-size: 25px;
}

/*home styles*/
.homepage {
    background: white;
    padding: 50px;
    margin: 200px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px #4C5B61;
}
.quiz-instructions {
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.quiz-instructions span {
    font-size: 50px;
}
#start-btn {
    margin: 20px 460px;
    width: 50%;
    font-size: 25px;
    border-radius: 10px;
    background: #4C5B61;
    color: white;
    padding: 25px;
    border: none;
}

#start-btn:hover {
    transition: 0.3s;
    background: #71868f;
    cursor: pointer;
}
#start-btn:active {
    outline: none;
}

/*quiz styles*/
#quiz-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background: white;
    box-shadow: 0 0 20px #4C5B61;
    padding: 50px;
    margin: 150px auto;
    border-radius: 10px;
}
#question {
    font-size: 2vw;
    text-align: left;
}
#answer-choices {
    padding: 10px;
    display: block;
}
.answer-button {
    background: #4C5B61;
    color: white;
    width: 100%;
    padding: 10px 30px;
    margin: 5px auto;
    font-size: 1vw;
    text-align: left;
    border: none;
    border-radius: 10px;
}
.answer-button:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #71868f;
}
#answer-right {
    font-size: 100px;
}
/*inital screen*/
#input-score {
    display: flex;
    text-align: center;
    align-items: center;
    width: 50%;
    background: white;
    padding: 50px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #4C5B61;
}
.other-title {
    font-size: 2vw;
    margin: 5px;
}
#final-score {
    font-size: 1vw;
    margin: 5px;
}
form {
    font-size: 1vw;
    margin: 5px;
}
.score-button {
    background: #4C5B61;
    color: white;
    width: 50%;
    padding: 10px 30px;
    margin: 5px auto;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
}
.score-button:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #71868f;
}

/*highscore page*/
#scoreboard-page {
    display: flex;
    text-align: center;
    align-items: center;
    width: 50%;
    background: white;
    padding: 50px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #4C5B61;
}
#current-hs {
    list-style: none;
    margin: 40px 5px;
}
#current-hs li {
    background: #91C7B1;
    border-radius: 10px;
    width: 25%;
    margin: 5px auto;
    padding: 5px;
}
.btn-wrapper {
    margin: 40px 5px;
}
.clear-button {
    background: #4C5B61;
    color: white;
    width: 50%;
    padding: 10px 30px;
    margin: 5px auto;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
}
.clear-button:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #71868f;
}